/*main stylesheet applied first*/
/*anything that doesn't look right on mobile can then be modified here.*/
#message {
    font-family:monospace;
	color:white;
}

.gameID, #quizSelect, .joinBtn, .closeBtn  {
    width:90vw !important;
}
html {
    background-color:hotpink!important;
}