/*main stylesheet applied first*/
/*anything that doesn't look right on mobile can then be modified here.*/
#message {
    font-family:monospace;
	color:white;
}

#gameID, #quizSelect, .joinButton, .closeButton {
    width:auto;
}